
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
<head>
</head>
<body>
    <table width="100%" cellspacing="0" cellpadding="0" border="0" style="background-color: #ffffff;">
        <tbody>
            <tr>
                <td style="padding: 0px;">
                    <table width="700" cellspacing="0" cellpadding="0" border="0" align="center" style="background-color: #eaeaea; table-layout: fixed;">
                        <tbody>
                            <tr>
                                <td>
                                    <table width="700" height="100" cellspacing="0" cellpadding="0" border="0">
                                        <tbody>
                                            <tr>
                                                <td style="width: 30px; height: 100px;"></td>
                                                <td style="width: 120px; height: 100px;">
                                                    <img alt="" src="http://cleverwearer.com/img/CleverWearerIcon_48px.png" width="48px" height="48px" />
                                                </td>
                                                <td style="width: 380px; height: 100px;"></td>
                                                <td style="width: 160px; height: 100px;"></td>
                                                <td style="width: 10px;"></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td class="ecxcontent" style="background-color: #ffffff; padding: 0px;">
                                    <table class="ecxmain-content" width="700" cellspacing="0" cellpadding="0" border="0" align="center" style="border: 0px; background-color: #ffffff;">
                                        <tbody>
                                            <tr>
                                                <td style="height: 30px;"></td>
                                            </tr>
                                            <tr>
                                                <td style="padding: 0px; width: 75px; font-size: 1px;"> </td>
                                                <td valign="top" style="padding: 0px;">
                                                    <span style="font-family: 'segoe ui', helvetica, arial, sans-serif; font-size: 13px; color: #333333;">Приветствуем Вас!</span><br />
                                                    <br />
                                                    <span style="font-family: 'segoe ui', helvetica, arial, sans-serif; font-size: 13px; color: #333333;">Вы только что создали аккаунт в Clever Wearer. Для завершения регистрации, пожалуйста, подтвердите свой e-mail перейдя по <a href='{0}'>ссылке</a> или нажав кнопку ниже</span>
                                                    <br />
                                                    <br />
                                                    <table class="ecxmedia_button" cellspacing="0" cellpadding="0" border="0" style="white-space: nowrap; border-top-left-radius: 5px; border-top-right-radius: 5px; border-bottom-right-radius: 5px; border-bottom-left-radius: 5px; border: 1px solid #2288cc; text-align: center; height: 28px; background-color: #6982ef;">
                                                        <tbody>
                                                            <tr>
                                                                <td class="spacer" style="font-size: 1px; padding: 0px; width: 10px;"> </td>
                                                                <td align="center" style="padding: 0px; height: 28px;">
                                                                    <span style="text-shadow: #339bde 0px -1px 0px; white-space: nowrap; overflow: hidden; padding: 0px; font-family: 'helvetica neue', helvetica, arial, sans-serif; font-size: 13px; color: #ffffff;">
                                                                        <a style="border: none; color: #ffffff; text-decoration: none;" target="_blank" href="{0}">Подтвердить</a>
                                                                    </span>
                                                                </td>
                                                                <td class="spacer" style="font-size: 1px; padding: 0px; width: 10px;"> </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                    <br /><span style="font-family: 'segoe ui', helvetica, arial, sans-serif; font-size: 13px; color: #333333;">
                                                        Мы помогаем <b><i>одеться по погоде</i></b> и <b><i>спланировать гардероб</i></b> для путешествия, а также <b><i>заранее предупреждаем о сюпризах природы</i></b>.<br />
                                                        <br />
                                                        1. Чтобы получать информацию об одежде по погоде, заполните поле Местоположение в своём профиле.<br />
                                                        <img alt="" src="http://cleverwearer.com/img/LocationRus.png" width="662px" height="309px" /><br />
                                                        <br />
                                                        2. Чтобы спланировать путешествие вы можете посмотреть прогноз сразу для нескольких городов мира на неделю вперёд.<br />
                                                        <img alt="" src="http://cleverwearer.com/img/NotificationsRus.jpg" width="651px" height="245px" /><br />
                                                        <br />
                                                        3. Чтобы получать информацию о резких погодных изменениях, установите галочку в Расширенных настройках Профиля.<br />
                                                        <img alt="" src="http://cleverwearer.com/img/ForecastRus.jpg" width="296px" height="107px" /><br />
                                                        <br />
                                                        <br />
                                                        С любым вопросами и пожеланиями можете обращаться прямо в ответе на этот e-mail или по адресу <a href="mailto:{1}">{1}</a>
                                                    </span>
                                                <td style="padding: 0px; width: 75px; font-size: 1px;"> </td>
                                            </tr>
                                            <tr>
                                                <td style="height: 30px;"></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td style="padding: 0px;">
                                    <table width="700" cellspacing="0" cellpadding="0" border="0" style="background-color: #ffffff; border: 0px;">
                                        <tbody>
                                            <tr>
                                                <td class="ecxfooter-padding-top" style="padding: 0px; height: 10px;" colspan="4"></td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <span style="font-size: 13px; font-family: 'segoe ui', helvetica, arial, sans-serif; color: #888888;">Спасибо,</span><br />
                                                    <br />
                                                    <span style="font-size: 13px; font-family: 'segoe ui', helvetica, arial, sans-serif; color: #888888;">Ваш Clever Wearer</span>
                                                    <br />
                                                    <span style="font-family: 'segoe ui', helvetica, arial, sans-serif; font-size: 13px; color: #333333;">{1}</span><br />
                                                    <br />
                                                </td>
                                                <td style="width: 75px; padding: 0px;"></td>
                                            </tr>
                                            <tr>
                                                <td style="padding: 0px; height: 15px;" colspan="3"></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
</body>
</html>
