@using Phi.MobileWebApp.Resources
@using Phi.Repository.Extensions

@{
    ViewBag.Title = GlobalResources.ConfirmAccount;
}

<h2>@ViewBag.Title.</h2>
<div>
    <br /><br />
    <p>
        @GlobalResources.ThankYouForConfirm.ToHtmlString()
    </p>
    <br /><br />
    <p>
        @GlobalResources.EnterForProviders
    </p>
    <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
    <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
</div>
