@using Phi.MobileWebApp.Resources
@{
    ViewBag.Title = GlobalResources.ForgotPasswordConfirmation;
}

<div class="forgotContainer">
    <h2>@ViewBag.Title.</h2>
     @GlobalResources.СheckEmailToResetPassword
</div>
