@using Phi.MobileWebApp.Resources
@using Phi.Repository.Extensions
@{
    ViewBag.Title = GlobalResources.WishList;
}

<h2>@GlobalResources.WishList</h2>

<span style="color: red;">@GlobalResources.InDevelopment</span>

<div stlye="height: 400px;"></div>


